@namespace AbertaBackOffice.Components.UI


<SfMessage CssClass="message" Severity="@Severity" Visible="@Visible" ContentAlignment="HorizontalAlign.Left">
    <h1>@Title</h1>
    <p>@Content</p>
</SfMessage>
<input value="@IsVisible" @onchange="HandleVisibilityChange" style="display: none" />

<style>
    .message{
        width: 400px;
        position: absolute;
        bottom: 0;
        right: 0;
        margin: 1rem;
        max-width: 400px;
    }
</style>

@code{
    [Parameter]
    public MessageSeverity Severity { get; set; }
    [Parameter]
    public string Title { get; set; }
    [Parameter]
    public string Content { get; set; }
    [Parameter]
    public bool IsVisible { get; set; }

    private bool Visible { get; set; }

    private async Task HandleVisibilityChange(ChangeEventArgs e)
    {
        Visible = (bool)e.Value;
        await Task.Delay(5000);
        Visible = false;
    }
}